canvas {
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
}
body{
    margin: 0;
}
#webgl_description,#webgl_info{
    position: absolute;
    top: 10px;
    /*left: 10px;*/
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
    color: white;
}
#webgl_info {
    top: 30px;
}
#webgl_info2 {
    position: absolute;
    top: 60px;
    left: 10px;
    text-align: left;
    color: white;
    font-size: 13px;
}

#webgl_output{
    width: 100vw;
    height: 100vh;
    display: block;
    background: url(../data/test_image/test_backgound.jpg) no-repeat center center ;
    background-size: cover;
}

#test_btn:after{
    content: 'test';
}
#test_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}